@import url("cards.css");
@import url("css_conteiner.css");
@import url("css_login.css");
@import url("css_menu_lateral.css");
@import url("grid_img.css");
@import url("menu_lat.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
body {
    background-color: #fff8f8;
    margin: 0;
    padding: 0;
  }
  
  .container2 {
    background-color: #2aa8c7;
    text-align: center;
    margin: 0;
    padding: 0;
  }

  .container3 {
    background-image: url(http://www.urldoseusite.com/libimagens/bg.png);
    text-align: center;
    margin: 0;
    padding: 10%;
  }
  
  .space {
    display: inline-block;
    width: 20px;
  }
  
  .title {
    display: inline;
    font-size: 120px;
    font-family: Helvetica, sans-serif;
    color: black;
    padding: 0;
    margin: 0;
    animation: blur-anime 2s ease-in-out infinite;
  }
  
  :root {
    --d: 1s;
    --c: rgba(49, 25, 153, 0.6);
    --f: rgba(49, 25, 153, 0.9);
    --n: 60px;
  }
  
  .delay0 { animation-delay: 0.0s; }
  .delay1 { animation-delay: 0.2s; }
  .delay2 { animation-delay: 0.4s; }
  .delay3 { animation-delay: 0.6s; }
  .delay4 { animation-delay: 0.8s; }
  .delay5 { animation-delay: 1.0s; }
  .delay6 { animation-delay: 1.2s; }
  .delay7 { animation-delay: 1.4s; }
  .delay8 { animation-delay: 1.6s; }
  .delay9 { animation-delay: 1.8s; }
  
  @keyframes blur-anime {
    0%, 60%, 100% {
      text-shadow: 0px 0px 0px var(--c), 
                   0px 0px 0px var(--c), 
                   0px 0px 0px var(--c), 
                   0px 0px 0px var(--c);
    }
    30% {
      text-shadow: 0px var(--n) 0px var(--f), 
                   0px calc(-1 * var(--n)) 0px var(--f), 
                   var(--n) 0px 0px var(--f), 
                   calc(-1 * var(--n)) 0px 0px var(--f);
    }
  }
  